[Unit]
Description=HTKIS HyperDisk API Gateway
After=network-online.target hyperdisk-metacenter.service
Wants=network-online.target hyperdisk-metacenter.service

[Service]
Type=notify
NotifyAccess=all
User=hyperdisk
Group=hyperdisk
ExecStart=/opt/hyperdisk/bin/hd-api-gateway --config /opt/hyperdisk/config/gateway.toml
Restart=on-failure
RestartSec=3
LimitNOFILE=65536
WorkingDirectory=/opt/hyperdisk

[Install]
WantedBy=multi-user.target
